.modal {
	$self: &;
	box-sizing: border-box;
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);
	padding: 30px;
	overflow-y: auto;
	@keyframes slideInDown {
		from { opacity: 0; transform: translateY(-2000px); }
		to { opacity: 1; transform: translateY(0); }
	}
	@keyframes show_fade { from { opacity: 0; } to { opacity: 1; }}
	
	@include media('<=xxs') {
		padding: 15px;
	}

	&[style*="display: block"] {
		display: flex !important;
	}

	&_self {
		#{$self}__body {
			background-color: transparent;
			box-shadow: none;
			border-radius: 0;
			max-width: 100%;
			width: auto;
			padding: 0;
		}

		#{$self}__content {
			background-color: rgba(0, 0, 0, 0.5); 
			border-radius: 30px;
			overflow: hidden;
			
			@include media('<=xs') {
				border-radius: 0;
				margin: 0 -30px;
			}
			
			@include media('<=xxs') {
				margin: 0 -15px;
			}
		}

		#{$self}__close {
			top: -75px; 
			right: -30px;
			border-radius: 50%;
			height: 48px;
			width: 48px;
			transition: background-color 0.3s, filter 0.3s;
			background: url('#{$images-path}icons-sprite.svg#icon-close-view-white') center / 20px 20px no-repeat rgba(255, 255, 255, 0.15);

			@include media('<=md') {
				right: 0;
			}
			
			@include media('<=xs') {
				top: 0;
				right: -30px;
				border-radius: 0 !important;
				background-color: transparent !important;
				background-image: url('#{$images-path}icons-sprite.svg#icon-close-view-white') !important;
			}
				
			@include media('<=xxs') {
				right: -15px;
			}
				
			@include media('<=xxxs') {
				background-size: 16px 16px;
			}

			&:hover { 
				background-color: #fff; 
				background-image: url('#{$images-path}icons-sprite.svg#icon-close-view-dark');
	
				@include media('<=xs') {
					filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.75));
				}
			}
		}
	}

	&_feedback {
		#{$self}__body {
			padding: 100px;
			background-color: #151515;
			max-width: 560px;

			@include media('<=xs') {
				padding: 68px 60px;
			}

			@include media('<=xxs') {
				padding: 68px 30px;
			}
		}

		#{$self}__close {
			transition: transform 0.3s, filter 0.3s;

			&:hover {
				transform: scale(1.25);
				filter: brightness(0) invert(1)
			}
		}
	}
	
	&__hidden {
		display: none;
	}

	&__body {
		animation: slideInDown 0.7s ease both;
		box-sizing: border-box;
		position: relative;
		background-color: #e2e2e2;
		border-radius: 5px;
		margin: auto;
		padding: 40px;
		width: 100%;
		max-width: 1000px;
		box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.07);
		
		@include media('<=xxs') {
			padding: 20px;
		}
	}
	
	&__content {
		min-height: 200px;
		
		@include media('<=xxs') {
			min-height: 140px;
		}

		img {
			display: block;
			margin: 0 auto;
		}

		video {
			display: block;
			height: 100%;
			width: 100%;
			max-width: 100%;
		}

		&_slideshow {

			img, video {
				animation: show_fade 0.3s;
				display: none;

				&.active {
					display: block;
				}
			}
		}
	}

	&__prev, &__next {
		@extend %reset-button;
		height: 47px;
		width: 47px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 14px 21px;
		background-color: rgba(255, 255, 255, 0.15);
		transition: background-color 0.3s, filter 0.3s;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		
		@include media('<=xs') {
			height: 50%;
		}

		&:hover {
			@include media('<=xs') {
				filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.75));
			}
		}
	}
	
	&__prev {
		left: -23px;
		background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-white');
		background-position: center left 14px;
		
		@include media('<=xs') {
			background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-white') !important;
			background-color: transparent !important;
		}
		
		@include media('<=xxs') {
			left: -15px;
		}

		&:hover { 
			background-color: #fff; 
			background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-dark');
		}
	}
	
	&__next {
		right: -23px;
		background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-white');
		background-position: center right 14px;
		
		@include media('<=xs') {
			background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-white') !important;
			background-color: transparent !important;
		}
		
		@include media('<=xxs') {
			right: -15px;
		}

		&:hover { 
			background-color: #fff; 
			background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-dark');

			@include media('<=xs') {

			}
		}
	}

	&__play {
		@extend %reset-button;
		position: absolute;
		z-index: 2;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: 85px;
		height: 85px;
		border-radius: 50%;
		background: url('#{$images-path}icons-sprite.svg#icon-play-view-white') center left 30px / 32px 35px no-repeat rgba(125, 125, 125, 0.25);
		transition: background-color 0.3s;

		&.playing {
			display: none;
		}
		
		&:hover { 
			background-color: #fff; 
			background-image: url('#{$images-path}icons-sprite.svg#icon-play-view-dark');
		}
		
		@include media('<=sm') {
			width: 47px;
			height: 47px;
			background-position: center left 16px;
			background-size: 18px 20px;
		}
		
		@include media('<=xxs') {
			display: none;
		}
	}
	
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 2;
		background: url('#{$images-path}icons-sprite.svg#icon-close-view-dark') center / 16px 16px no-repeat transparent;
	}
}