<header class="header"> 
	<div class="header__inner container">
		<a class="header__logo" href="./"><img src="./images/logo.svg" alt=""></a>
		<div class="language_switch">
			<div class="language_switch__box selected translate" id="en">
				<div class="language_switch flag">
					<img src="./images/English.png">
				</div>
				<div class="language_switch text" id="english">English</div>
			</div>
			<div class="language_switch__box not_selected not_active translate" id="ar">
				<div class="language_switch flag">
					<img src="./images/Arab.png">
				</div>
				<div class="language_switch text" id="arab">العربية</div>
			</div>
		</div>
	</div>
</header>