.header {
	$self: &;
	display: flex;
	flex-direction: row;
	position: fixed;
	z-index: 2;
	width: 100%;
	opacity: 0;
	background-image: linear-gradient(to bottom, #000 10%, rgba(0, 0, 0, 0) 95%);
	animation: fadeIn 1.0s forwards;
	transition: all .3s ease;

	/* &.out {
		@include media('<=xlg') {
			transform: translateY(-150%);
		}
	} */
	
	@include media('<=md') {
		height: 90px;
	}
	
	@include media('<=xs') {
		height: 70px;
	}

	&__inner {
		display: flex;
		justify-content: flex-end;

		&.showed {
			@include media('<=md') {
				justify-content: space-between;
			}
		}
	}

	&__logo {
		display: none;
		max-width: 220px;
		margin-top: 55px;

		&.showed {
			@include media('<=md') {
				display: flex;
				max-width: 220px;
				margin-top: 5px;
			}
		}

		img {
			@include media('<=xs') {
				height: fit-content;
				max-width: 160px;
			}
		}
	}
}