.down {
	$self: &;
	font-family: "OR", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	display: inline-flex;
	align-items: center;
	transition: filter 0.4s;

	&:hover {
		filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.75));
	}

	@keyframes moveDown {
		0% { transform: translateY(-5px); }
		50% { transform: translateY(5px); }
		100% { transform: translateY(-5px); }
	}

	&::before {
		display: block;
		content: '';
		width: 21px;
		height: 52px;
		background: url('#{$images-path}scroll-down.svg') center / contain no-repeat transparent;
		margin-right: 20px;
		animation: moveDown 2s infinite;
	}
}